section {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}
#titulo_contato h1 {
    font-size: 45px;
    text-align: justify center;
    color: #5176b5;
    display: flex;
    justify-content: center;
    align-items: center;
    margin:auto;
  }
  
  #titulo_contato p {
    font-size: 18px;
    font-weight: 800;
    text-align: justify center;
    color: #435da5;
    margin: 30px 0;
  }

.forms {
    height: 100vh;
    padding: 100px 0 100px;
    width: 100%;
}

.forms:last-of-type {
    background: #324048;
}

.forms:last-of-type h1 {
    color: #f3f3f3;
    margin-top: 30px;
}

input {
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 2px solid #30303030;
    text-align: center;
    font-size: 15px;
    color: #303030;
    padding: 3%;
    width: 300px;
    margin-bottom: 20px;
}

textarea {
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 2px solid #30303030;
    text-align: center;
    font-size: 15px;
    color: #303030;
    padding: 3%;
    /* height: 40px; */
    width: 300px;
    resize: none;
    margin-bottom: 20px;
}

form button {
    background-color: #324048;
    color: #fff;
    padding: 20px 50px;
    border-radius: 51px;
    border: none;
    cursor: pointer;
    transition: background-color .5s cubic-bezier(0.18, 0.89, 0.32, 1.28);
}

form button:hover {
    background: #847ee2;
}

.forms img {
    height: 300px;
}

.forms>div {

    width: 100%;
    margin-top: 70px;
    text-align: center;
}

.forms_faq>div {

    width: 100%;
    margin-top: 70px;
}

.forms form {
    height: 300px;
    width: 530px;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-evenly;
    background: #2f4c671f;
    box-shadow: 0 0 20px #00000065;
    padding: 1% 4% 1% 5%;
    border-radius: 4px;
    border-top: 4px solid #97ABB7;
    overflow-y: auto;
}

.faq{
    font-size: 28px;

}

.forms_faq {
  
    width: 90vw;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-evenly;
    background: #2f4c671f;
    box-shadow: 0 0 20px #00000065;
    padding: 1% 4% 1% 5%;
    border-radius: 4px;
    border-top: 4px solid #97ABB7;
    overflow-y: auto;
}



.iframe-google-maps {
    position: relative;
    top: -5vh;
    width: 90%;
    height: 300px;
    border-radius: 4px;
    margin-bottom: 8vh;
}

details .faq{
    height: 10%;
    width: 100%;
    display: grid;
    grid-column: auto;
    justify-content: flex-start;
    
}

.space_faq{
    text-decoration: underline;

}

.perguntas_faq{
    height: 80vh;
    width: 100%;
    display: grid;
    grid-column: auto;
    flex-direction: column;
}

summary{
    font-size: 30px;
    cursor: pointer;
    font-weight: bolder;
    width: 98%;
    margin-left: 3px;
}

p{
    font-size: 13px;
    
}